footer {
    color: black;
      padding: 20px;
      text-align: center;
      margin-top: 50px;
  }
  
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  li {
      display: inline-block;
      margin: 0 10px;
  }
  
  a {
      color: black;
      text-decoration: none;
  }

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 120px;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
}

button {
    background:  black;
    color: white;
    border: none;
    height: 32px;
    font-family: sans-serif;
    font-size: 16px;
}

.titulo2 {
    color: black;
}

#timeline-section {
    position: relative;
    color: white;
  }
  
  
  #content-container {
    position: relative;
    z-index: 1;
  }
